<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="Tickets_section">
        <h3>Tickets Section::</h3>
        <table>
            <thead>
                <tr>
                    <th>Slot Number</th>
                    <th>Vehicle Number</th>
                    <th>Time of Entry</th>
                    <th>Time of Exit</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                    <tr>
                        <td>$result1['slot_number']</td>
                        <td>echo $result1['vehicle_number']</td>
                        <td>$result1['exit_time']</td>
                        <td>echo $result1['entry_time']</td>
                        <td>echo $result1['status']</td>
                    </tr>
                
                }
              
            </tbody>
        </table>
    </section>

</body>
</html>